* {
	padding: 0;
	margin: 0;
	/* "resetting" all elements */
}
body {
    font-size: 16px;
	font: 100%/ 1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	margin: 0;
	padding: 0;
	color: #999;
}

/* ~~ Element/tag selectors ~~ */

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ links ~~ */
a:link {
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.wrapper {
	width: 96%;
	max-width: 960px;
	min-width: 321px;
	margin: 0 auto;
	background: url('../images/rabbitbg.png') no-repeat;
}
h2, h5 {
    color: #fff;
    padding-bottom: 10px;
}
h3 {
    color: #d2691e;
    padding-bottom: 10px;
}
h4 {
    color: #d2691e;
    text-shadow: 0 0 6px #333;
}
dl, .monsterlist ul {
	padding-bottom: 25px;
}
.etc dt {
	font-weight: bold;
}
.etc dd {
	text-indent: 9.6774193548387%; /* 15 of 155px = 0.096774193548387*/
}
ol.monsterlist {
    list-style-type: upper-roman;
    font-size: .8em;
    padding-left: 16.1290322580645%; /* 25 of 155px = 0.161290322580645*/
    padding-bottom: 25px;
}
ol.dec {
    list-style-type: decimal-leading-zero;
    font-size: .8em;
    padding-left: 16.1290322580645%; /* 25 of 155px = 0.161290322580645*/
    padding-bottom: 25px;
}

ul.morelist {
    font-size: .9em;
    padding-right: 6.451612903226%;  /* 10 of 155px = 0.06451612903226*/
    list-style-type: square;
    list-style-position: inside;
    padding-top: 30px;
}
ul.formDtls {
	padding-left: 2.5459688826025%; /* 18 of 707px = 0.025459688826025*/
	padding-top: 10px;
	line-height: 2em;
}


/* ~~ the header  ~~ */
header {
	padding-top: 70px;
    padding-bottom: 40px;
	text-align: right;
}
.head1 {
    font-style: italic;
    font-size: 2.35em;
	color: #fff;
}
.head2 {
	color: #d2691e; /*#C3FAF4*/
    font-style: italic;
    font-size: 1.75em;
    padding-right: 8.3333333333333%; /* 80 of 960px = 0.083333333333333 */
    padding-bottom: 8px;
    margin-top: -15px;
    border-bottom: 1px #737373 solid;
}


/* ~~ layout columns ~~ */

nav {
	float: left;
	width: 16.1458333333333%; /* 155 of 960px = 0.161458333333333*/
    color: #333;
    margin-top: 10px;
    margin-right: 3.125%; /* 30 of 960px = 0.03125*/
    padding-left: 1.5625%; /* 15 of 960px = 0.015625*/
    padding-right: 1.0416666666667%; /* 10 of 960px = 0.010416666666667 */
	background-color: #999;

}
.structure {
    float: left;
    display: inline;
    width: 77.8125%; /* 747 of 960px = 0.778125 */
}
aside {
    border-top: 20px #737373 solid;
    border-bottom: 20px #737373 solid;
    color: #333;
    float: right;
    width: 32.1285140562249%; /* 240 of 747px = 0.321285140562249*/
    margin-left: 2.0080321285141%; /* 15 of 747px = 0.020080321285141*/
    margin-bottom: 15px;
	background-color: #999;
	padding: 25px 2.6773761713521%; /* 20 of 747px = */
    -webkit-box-shadow: inset 0px 0px 10px 6px rgba(51,51,51,1);
    -moz-box-shadow: inset 0px 0px 10px 6px rgba(51,51,51,1);
    -o-box-shadow: inset 0px 0px 10px 6px rgba(51,51,51,1);
    box-shadow: inset 0px 0px 10px 6px rgba(51,51,51,1);
}
section.structure  {
    margin: 10px auto 30px;
    line-height: 1.85em;
}
section p {
	padding-bottom: 15px;
}

/* ~~  navigation list styles ~~ */
nav ul {
	list-style: none; /* this removes the list marker */
    margin: -10px -13.5483870967742% 15px -3.2258064516129%; /* -21, -5 of 155px = 0.135483870967742,0.032258064516129*/

}
nav .nav li {
	border-bottom: 1.5px solid #d2691e; /* this creates the button separation */
    border-left: 1px solid #d2691e;
    border-top: 1px solid #fff;
    border-right: .5px solid #fff;
    padding-bottom: -9px;
    margin-bottom: 9px;
    -webkit-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.75);
    -o-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 6px 0px rgba(0,0,0,0.75);
}
nav ul a, nav ul a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 3.2258064516129% 5px 9.6774193548387%; /* 5,15 of 155px = 0.032258064516129,0.096774193548387 */
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	background-color: #f6d4bc;
	color: #d2691e;
}
nav ul li a:link {
  text-decoration: none;
}
nav ul a:hover, nav ul a:active, nav ul a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
  text-decoration: none;
	background-color: #737373;
	color: #999;
}
nav li.monsterlist {
  padding-bottom: 40px;
}
.extra {
	padding-top: 10px;
	padding-bottom: 40px;
}
.enclosure {
  display: inline-block;
	border: 1px solid #737373;
	padding: 20px 2.0833333333333%; /* 20 of 960px = 0.020833333333333*/
	width: 73.4375%; /* 705 of 960px = 0.734375*/
}
.piclist {
  float: left;
  width: 25.2083333333333%; /* 242 of 960px = 0.252083333333333*/
}
figure.right {
  padding-left: 1.09375%; /* 10.5 of 960px =0.0109375 */
}
figure.left {
  padding-right: 1.09375%; /* 10.5 of 960px = 0.0109375*/
}
figure.up{
  padding-bottom: 30px;
}
figure.down{
  padding-top: 40px;
  padding-bottom: 20px;
}
figcaption {
  color: #555;
  font-size: .6em;
  padding: 6px 0.625%; /* 6 of 960px = 0.00625*/
}

section div.cardForm {
	background-image: url('../images/queen+of+hearts+120MOD.png');
	background-repeat: no-repeat;
	background-position: 13% 80%;
  float: left;
  width: 77.8125%; /* 747 of 960px = 0.778125     73.4375%; /* 705 of 960px = 0.734375*/
  height: 700px;
}
.twocol {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 5.3475935828877%; /* Chrome, Safari, Opera */  /* 40 of 748px =0.053475935828877*/
  -moz-column-gap: 5.3475935828877%; /* Firefox */
  column-gap: 5.3475935828877%;
  width: 77.8125%; /* 747 of 960px=0.778125 */
  float: left;
  display: inline-block;
}
div.inline {
  width: 38.90625%;
  margin-bottom: -3px;
  float: left;
  display: inline-block;
}
.inline img {
  max-width: 100%;
}


.rgt img {
  float: right;
  display: block;
  margin-left: 4.444444444444%; /* 20 of 450px=0.04444444444444 */
  margin-bottom: 20px;
}
.lt img {
  float: left;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.lt div {
  text-align: right;
  margin: 10px 20px 0;
}
.rgt div {
	margin: 10px 20px 0;
}



article.left{
  border-left: #d2691e 1px solid;
  border-bottom: #d2691e 1px solid;
  padding-bottom: 20px;
}
article.right{
  padding-top: 30px;
  border-right: #d2691e 1px solid;
  border-top: #d2691e 1px solid;
}

article.flick {
  font-size: .8em;
  line-height: 1.75em;
  border: 1px solid #737373;
  width: 60.240963855422%;  /* 450 of 747 = 0.60240963855422*/
  margin-bottom: 20px;
}
article.flick img {
  width: 44.444444444444%; /* 200 of 450 = 0.44444444444444*/
}

.left p {
  padding-left: 8.0428954423592%; /* 25(60) of 746px = 0.080428954423592; had to increase for no predetermined width for text columns */
}

.right p {
  padding-right: 8.0428954423592%; /* 25(60) of 746px=0.080428954423592 */
}
article.left img {
  float: left;
  padding-bottom: 20px;
  display: block;
}
article.right img {
  float: right;
  padding-top: 10px;
}

/* ~~The footer ~~ */
footer {
  font-size: .75em;
  text-align: center;
	padding: 10px 0;
	background-color: #333;
  color: #d2691e;
	clear: all;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}



/******* FORM ********/

.form {
  background-color: rgba(240,230,190,0.75);
  color: #333;
  text-shadow: 0px 0px 6px rgba(250,250,250,1);
  font-weight: bold;
  min-width: 320px;
  width: 50.200803212851%; /* 375 of 747px = 0.49645390070922   0.50200803212851*/
  height: 560px;
  padding: 10px 2.677376171352% 20px; /* 20 of 747px = 0.02677376171352*/
  position: relative;
  left: 8%;
  margin-top: 70px;

}
.form td {
  display: inline-block;
  padding-top: 8px;

}
td select {
  width: 170px; /* 170 of 350px =  STRUCTURE - DON'T SCALE */
  background-color: #f3ecc3;
  text-transform: uppercase;
}
td.label {
  text-align: right;
  /*vertical-align: middle;*/
  padding-right: 2.8571428571429%; /* 10 of 350px = 0.028571428571429*/
}

label {
    display: block;
}

input {
    vertical-align: bottom;
}

.form input[type="text"],input[type="tel"],
input[type="email"],input[type="url"],
.form textarea {
  width: 200px; /* 200 of 350px = 0.571428571428571*/
  left: 2%;
  background-color: rgba(243,236,195,0.8);
  border-width: 0px;
  font-weight: bold;
  font-size: 0.9em;
}
.form input[type="checkbox"],
input[type="radio"] {
  width: 22px; /*  STRUCTURE - DON'T SCALE */
  height: 22px;
  margin: 0 15px 0 0; /* STRUCTURE - DON'T SCALE */
}
td > input[type="checkbox"] {
	text-align: right;
}
.form textarea {
  width: 240px;
}
input[type="submit"] {
  background-color: #f3ecc3;
  width: 130px; /*  of 350px STRUCTURE - DON'T SCALE*/
}

img, div.inline img {
	max-width: 100%;
}


/****** MEDIA QUERIES *******/
@media (min-width: 319px) and (max-width:600px) { /* mobile phone size */
	section div.cardForm {
        background-image: none;
        float: left;
        width: 77.8125%; /* 747 of 960px = 0.778125     73.4375%; /* 705 of 960px = 0.734375*/
        height: 700px;
	}

	.form {
        background-color: rgba(240,230,190,0.75); /* CHANGE COLOR AND WIDTH AND CENTER! */
        color: #333;
        text-shadow: 0px 0px 6px rgba(250,250,250,1);
        font-weight: bold;
        height: 560px;
        padding: 10px 2.677376171352% 20px; /* 20 of 747px = 0.02677376171352*/
        display: block;
        margin-left: -7%;
        margin-top: 40px;
	}
	.twocol {
        -webkit-column-count: initial; /* Chrome, Safari, Opera */
        -moz-column-count: initial; /* Firefox */
        column-count: initial;
        width: 100%; /* 747 of 960px=0.778125 */
        float: left;
        display: inline-block;
	}
	article.twocol img {
		display: inline-block;
	}
    .left img {
        margin-right: 140px; /* 25(60) of 746px =  */
    }
    nav {
        width: 100%; /* 155 of 960px = 0.161458333333333*/
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    nav ul {
        margin: -10px 0 15px 0;
    }
    nav .nav li {
        font-size: .65em;
        font-weight: bold;
        width: 19%;
        float: left;
        display: block;
    }
    nav li.monsterlist {
        padding-bottom: 10px;
    }

    .etc dd {
	   text-indent: 6%; /* 15 of 155px = 0.096774193548387*/
    }
    dl {
	   padding-bottom: 15px;
    }
    .dl dl, .dl ol {
        font-size: .9em;
        margin-left: 2%;
        margin-right: 4%;
        width: 32%;
        float: left;
        display: inline;
    }


    ol.monsterlist {
        padding-left: 5%; /* 25 of 155px = 0.161290322580645*/
        padding-bottom: 15px;
    }
    ul.morelist {
        font-size: .75em;
        margin-right: 0.5%;  /* 10 of 155px = 0.06451612903226*/
    }
    p.mobile {
        width: 68%;
        font-size: .9em;
        display: inline;
    }
    p.other {
        font-size: .7em;
        width: 64%;
        margin-right: 4%;
        margin-left: 4%;
        padding-top: 5px;
        padding-bottom: 10px;
        float: left;
        display: inline;
    }
    section {
        width: 99%;
    }
    .structure{
        float: left;
        display: inline;
        width: 99%; /* 747 of 960px = 0.778125 */
    }
    div.inline {
        width: 50%;
    }

    .piclist {
         width: 32.3%;
    }
    .enclosure {
        width: 97.91666666667%;
    }
    section.structure  {
        margin: 10px auto 30px;
        line-height: 1.85em;
    }
    .head1, .head2 {
        font-size: 1.25em;
    }
}
